
body
{

   background-color: white;
   color: #222222;
   margin: auto;
   font-family: sans-serif;

}
 
 article{

    width: 40%;
    margin:20px auto 80px auto ;
    
    
 }
 article h1{
    text-align: center;
 }

 p{
   line-height: 1.5;
 }

 article + article 
 {

  margin-top: 3rem;
  border-top: 1px solid #c5c5c5;
 }


